:root {
  --primary: #342E37; /* Black */
  --secondary: #FEFBF3; /* white */
}
header { padding: 0.5rem; }

body {
  font-family: "Roboto";
  margin: 0 auto;
  padding: 1em 5em 1em 5em;
  color: var(--primary);
  background: var(--secondary);
}
section {
  padding: 0 1em 0 1em;
  margin-top: 1em;
  min-width: 300px;
}

h1, h2, h3, h4, h5, a { color: var(--primary); text-decoration: none; }

h1 { font-size: 3em;}

p, li { font-size: 1.2rem; line-height: 2rem; }

main a {text-decoration: underline }

a:hover { background: var(--primary); color: var(--secondary); }

ul {
  list-style-position: inside;
  padding-left: 0;
}

ol {
  list-style-type: cambodian;
  list-style-position: inside;
  padding-left: 0;
}

button {
  background-color: var(--secondary);
  border: none;
  border-radius: 50%;
  padding: 3px 5px 3px 5px;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
button:hover { background-color: var(--primary); }

table, th, tr, td {text-align: center; border: 2px solid var(--primary); border-collapse: collapse; }
.of {overflow-x: auto}

.three-dots { line-height: 0.1px; }

.h-title { height: 30vh; }

.just-flex { display: flex; justify-content: space-between; }

section, header, footer {
  border: 2px solid var(--primary);
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.flex-wrap { flex-wrap: wrap; }

.flex-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.items-with-width > * { width: 300px; }

.sd-width > * {width: 325px;}

.content-filler { height: 1em; }

pre, code {
  border-radius: 1px;
  padding: 2px;
  background: var(--primary);
  color: var(--secondary);
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  body { padding: 1em; }

  h1 { font-size: 2em; }

  p, li, a { font-size: 1rem; }

  .items-with-width > * { width: 100%; }
}
